/* Overall container */
.containers {
    display: flex;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    
    
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.topoption{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
    
}
.userprofile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-top: 20px;
    cursor: pointer;
    
    
   
}
.userprofile img{
    width: 35px;
    height: 35px;
}
.userprofile p{
    font-family: Georgia;
}

.logo img{
    width:200px;
}

.down{
    display: flex;
    flex-direction: row;
    padding: 0;

}
.sidebar{
    margin: 0;
    max-width: 25%;
}

.slider ul li img{
    width:30px;
    
    
}
.slider ul{
    list-style-type:none;
    padding-left: 0;
    
}
.slider ul li{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    
    
}

.slider ul li span{
    padding-left: 5px;
    cursor: pointer;
    padding-right: 10px;
    
}

.contentss{
    background-color:rgb(236, 236, 242);
    flex: 1;
    height:85vh;
}
.menumobile{
    display: none;
  }
.slidermobile{
    display: none;
  }
.profileconmain{
    position: absolute;
    display: flex;
    justify-content:right ;
    width: 80%;
    height: 95%;
    padding: 40px;
}
.profileconsub{
    
    background-color: white;
    width: 400px;
    height: 80%;
    border-radius: 30px;
    border: 1px solid gray;
    box-shadow: 10px 10px 5px gray;
    display: flex;
    flex-direction: column;
    
    
}
.profileclosebtn{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}
.profileclosebtn button{
    padding: 10px;
    border-radius: 40px;
    color: red;
    border: 1px solid red;
    padding: 10px 20px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}
.profileclosebtn button:hover{
    background-color: red;
    color: white;
}
.profilecon h1{
    text-align: center;
    margin-top: 0;
   
}
.profilecon{
    
    width:420px; /* Adjust the height as needed */
    overflow-y: auto;
    
}
.profilecon h1{
    font-weight: bold;
    font-family:serif;
    display: flex;
    padding-left: 35%;
    margin-bottom: 20px;
}
.profilecon h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.profildata {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.pd1{
    display: flex;
    margin-right: 5%;
    margin-top: 4%;
    border: 1px solid black;
    padding: 0px 15px ;
    border-radius: 20px;
    background-color: beige;
}

.profiledata1{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.pd1 h3{
    font-size: 18px;
}
.pd1 h4{
    font-size: 14px;
    font-weight: 500;
    padding-top: 2px;
    padding-left: 5px;
}


@media only screen and (max-width: 800px){
    .logo img{
        width:150px;
        
        
    }
    
    .userprofile img{
        width: 25px;
        height: 25px;
    }
    .top{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .topoption{
        justify-content: space-between;
        padding-left: 15%;
        
        
    }
    .menumobile{
      
      display: flex;
      justify-content: flex-end;
      transform: translate(-50%, -60%);
      
      
    }
    .menumobilefull{
        display: flex;
      justify-content: flex-end;
      
    }
    .menumobile li img {
      padding-right: 10px;
      backdrop-filter: blur(10px);
      
    }
    .menumobile li{
        backdrop-filter: blur(10px);
    }
    .slider{
        display: none;
    }
    .slidermobile{
        display: block;
        position: absolute;   
    }
    
    
    .slidermobile ul li img{
        width:30px;
        position: absolute;
        
        
    }
    .slidermobile ul{
        list-style-type:none;
        padding-left: 0;
        margin-top: 0;
        
    }
    .slidermobile ul li{
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 10px;
        
        
    }
    .slidermobile ul li:hover{
        background-color: white;
    }
    .slidermobile ul li span{
        padding-left: 5px;
        cursor: pointer;
        padding-right: 10px;
        display: none;
        
    }
    .slidermobilefull{
        display: block;
        position: absolute;
        backdrop-filter: blur(10px);
        background-color: white;
        
       
        
    }
    
    
    .slidermobilefull ul li img{
        width:30px;
        
        
        
    }
    .slidermobilefull ul{
        list-style-type:none;
        padding-left: 0;
        
    }
    .slidermobilefull ul li{
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 10px;
        
        
    }
    .slidermobilefull ul li:hover{
        backdrop-filter: blur(10px);
    }
    .slidermobilefull ul li span{
        padding-left: 5px;
        cursor: pointer;
        padding-right: 10px;
        display: block;
        
    }
    .profildata{
        padding-left: 8%;
    }
    .profilecon h1{
        padding-left: 25%;
    }

    .profiledata1{
        width: 250px;
    }
    .pd1 h3{
        font-size: 13px;
    }
    .pd1 h4{
        font-size: 10px;
        padding-top: 2px;
        padding-left: 5px;
    }
    
}

@media only screen and (min-width: 1025px){

    .slider ul li:hover{
        background-color: rgb(236, 236, 236);
    }

    
}