.studentconmain{
    margin-left: 10px;
    height: 100%;
    overflow-y: auto;
}
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Hide spin buttons in Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }
.studentconmain h2{
    font-family: Georgia;
}

.topcontainer{
    display: flex;
}

.topleft{
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    flex: 1;
}

.topleft button{
    background-color: rgb(4,167,4);
    border:none;
    margin-left: 10px;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    color: white;
    margin-top: 8px;
    cursor:pointer;
}

.topleft input{
    height:20px;
    width: 150px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
}

.topright ul{
    list-style-type: none;
    border-radius: 20px;
    width: 140px;
    margin-right: 20px;
}
.topright ul li{
    display: flex;
    background-color:rgb(4,167,4) ;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 10px;
    border-radius: 20px;
    

}
.topright ul li span{
    color:white;
    font-size: 12px;
    font-weight: bold;
}

.studetailcon{
    display: flex;
    justify-content: center;
}
.studentconsub{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    margin:10px;
    width:250px;
}

.studentconsub input{
    width: 200px;
    margin-left: 10%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;

}

.studentconsub select{
    width: 220px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10%;
}
.studentconsub label{
    margin-top: 20px;
    font-size: 18px;
    margin-left: 5%;
    font-weight: bold;
}

.addstubtn {
    display: flex;
    justify-content: center;
}

.addstubtn button{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color:rgb(4,167,4) ;
    color: white;
    font-weight: bold;
    margin-top: 40px;
}

.stubatchpcon{
    display:flex;
    flex-direction: column;
    
}

.batchcards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}
.batchcard{
    padding:30px 70px;
    width: 180px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 1px grey;
    border-radius: 20px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    cursor: pointer;
    
}
.batchcard h3{
    color: black;
}
.batchcard:hover{
    margin-top: 10px;
    box-shadow: 4px 4px 4px grey;
}
.depcards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.depcard{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    width: 300px;
    text-align: center;
    margin-top: 40px;
    padding: 40px 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 8px 8px 10px grey;

    
}
.depcard:hover{
    box-shadow: 15px 15px 10px grey;
    margin-top: 20px;
}

.depcard h3{
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family:sans-serif;
    
}

.studentscard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.studentcard{
    display: flex;
    justify-content: space-between;
    width: 320px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 2px gray;
    margin-top: 10px;
    margin-bottom: 50px;
    
}

.studentcardcon h5{
    font-size: 20px;
    font-weight: bold;
}
.studentcard:hover{
    box-shadow: 5px 5px 5px gray;
    margin-top: 2px;
}
.studentphotos img {
    width: 100px;
}
.studenteditno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.studenteditnocon{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    font-family:roboto;
    font-weight: bold;
    font-size: 18px;
}
.studenteditnocon button{
    background-color:rgb(4,167,4) ;
    color:white;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 20px;
}
.studenteditnocon button:hover{
    border: 1px solid rgb(4,167,4);
    color:rgb(4,167,4);
    background-color: white;
    font-weight: bold;
}
.deletestu input{
    color:red;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
    margin-right: 10px;
}
.deletestu button:hover{
    border: 1px solid red;
    color:red;
}



@media (max-width: 900px) {
    
    .topleft{
        flex-direction: column;
    }

    .depcard{
        width: 260px;
        margin-top: 90px;
    }

    
  }
 
